{% extends 'base.html' %}
{% load staticfiles %}
{% block main_content %}

 <div class="panel panel-success">
  <div class="panel-heading">主题列表

  <li class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              创建新主题<span class="caret"></span></a>
        <ul class="dropdown-menu ">
            {% for node in hot_nodes %}
            <li><a href="topic/create/{{ node.slug }}">{{ node.name }}</a> </li>
            {% endfor %}
        <!--
        <li><a href="topic/create/python/">Pythondev</a> </li>
        -->
        </ul>
  </li>

  </div>
  <div class="panel-body">
  </div>
    <ul class="list-group">
        {% for topic in topics %}
        <li class="list-group-item">
        <span class="badge">{{ topic.reply_count }}</span>
             <a href="forum/topic/{{ topic.id }}">{{ topic.title }}</a>
        <br><br>
              由
            <a href="user/{{ topic.author.user.username }}">{{ topic.author.user.username }}</a> 在
            <a href="forum/node/{{ topic.node.name }}">{{ topic.node.name }}</a> 发表于 <strong>{{ topic.created_at }}</strong>

        </li>
        {% endfor %}
    </ul>
  </div>

     <ul class="pagination pull-right">
     {% if topics.has_previous %}
     <li class="previous">
         <a href="?page={{ topics.previous_page_number }}">Prev</a>
     </li>
         {% endif%}

     {% for page in pagerank %}
     <li><a href="?page={{ page }}">{{ page }}</a></li>
     {% endfor %}
     {% if topics.has_next %}
         <li class="next">
         <a href="?page={{ topics.next_page_number }}">Next</a>
         </li>

     {% endif %}
     </ul>

{% endblock %}

{% block sidebar %}

    <div class="row">

    <div class="panel panel-warning">

  <div class="panel-heading">热门主题</div>
  <div class="panel-body">
  </div>

  <!-- List group -->
  <ul class="list-group">
      {% for topic in hot_topics %}
          <li class="list-group-item">
          <a href="forum/topic/{{ topic.id }}">{{ topic.title }}<a>

          </li>
      {% endfor %}
  </ul>
</div>
    </div>



    <div class="row">
 <div class="panel panel-warning">
  <!-- Default panel contents -->
  <div class="panel-heading">热门回复</div>
  <div class="panel-body">
  </div>

  <!-- List group -->
  <ul class="list-group">
      {% for reply in hot_replies %}
          <li class="list-group-item">
          {{ reply.content }}
          </li>
      {% endfor %}
  </ul>
</div>
    </div>


{% endblock %}