{% extends 'base.html' %}
{% load staticfiles %}
{% block main_content %}

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              创建新主题<span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for node in hot_nodes %}
            <li><a href="topic/create/{{ node.slug }}">{{ node.name }}</a> </li>
            {% endfor %}
        <li><a href="topic/create/python/">Pythondev</a> </li>
        </ul>
    </li>



<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
    {% if topics %}
    topic
    {% endif %}

 {% for topic in topics %}
    {{ topic.content }}
    {% endfor %}

    {{ user_count }}
    {{ node_count }}

{% endblock %}

{% block sidebar %}
{{ node_count }}
{% endblock %}