{% extends "base.html" %}}
{% load staticfiles %}

{% block main_content %}

     <div class="container">
    <div class="row">

        <div class="col-md-7 col-md-offset-1">

        <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">注册</h3>
  </div>
  <div class="panel-body">

<form method="POST" class="form-horizontal" role="form">
{% csrf_token %}

	 <div class="form-group">
                        <label for="id_{{ form.emial.name }}" class="col-md-3 control-label">{{ form.email.label }}</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_{{ form.email.name }}" required name="{{ form.email.name }}" autofocus>
                            <p class="help-block">请输入你的注册邮箱</p>
                        </div>
                    </div>

    <div class="form-group">
                        <label for="id_{{ form.username.name }}" class="col-md-3 control-label">{{ form.username.label }}</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_{{ form.username.name }}" required name="{{ form.username.name }}" autofocus>
                            <p class="help-block">请输入你的用户名</p>
                        </div>
                    </div>

    <div class="form-group">
                        <label for="id_{{ form.password.name }}" class="col-md-3 control-label">{{ form.password.label }}</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" required name="{{ form.password.name }}" id="id_{{ form.password.name }}">
                        <p class="help-block">请输入你的密码</p>
                        </div>
    </div>

     <div class="form-group">
                        <label for="id_{{ form.password_repeat.name }}" class="col-md-3 control-label">{{ form.password_repeat.label }}</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="id_{{ form.password_repeat.name }}" required name="{{ form.password_repeat.name }}" autofocus>
                            <p class="help-block">请重复你的密码</p>
                        </div>
                    </div>



<div class="col-md-5 col-md-offset-3">
<button type="submit" class="btn btn-success" value="登陆">

    登陆

</button>
    </div>
</form>


  </div>
</div>




            </div>
        </div>
    </div>


{% endblock %}